<div class="footer_section layout_padding">
  <div class="container">
     <h3 class="follow_text">Nous suivre</h3>
     <div class="social_icon">
        <ul>
           <li><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/fb-icon.png"></a></li>
           <li><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/twitter-icon.png"></a></li>
           <li><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/linkedin-icon.png"></a></li>
           <li><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/instagram-icon.png"></a></li>
           <li><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/youtub-icon.png"></a></li>
        </ul>
     </div>
     <div class="location_main">
        <div class="location_left">
           <div class="call_text"><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/map-icon.png"><span class="call_padding">1260 W Boughton Rd, Bolingbrook</span></a></div>
        </div>
        <div class="location_middle">
           <div class="call_text"><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/mail-icon.png"><span class="call_padding">ArnaqueMontre&#64;mensonge.com</span></a></div>
        </div>
        <div class="location_right">
           <div class="call_text"><a target="_blank" href="https://media.tenor.com/sYekiN-q12AAAAAi/trollyou-troll-dance.gif"><img src="assets/img/call-icon.png"><span class="call_padding">+01 1234567890</span></a></div>
        </div>
     </div>
  </div>
</div>
