<!-- background bg start -->
<div class="background_bg">
  <!-- watchs section start -->
  <div class="watchs_section layout_padding">
     <div class="container">
        <h1 class="watchs_taital">01<br>Nos Montres</h1>
        <div class="watchs_section_2">
           <div class="row">
              <div class="col-md-6 text-center">
                 <div class="image_1"><img src="assets/img/carbon.png" style="width: 25rem;"></div>
              </div>
              <div class="col-md-6">
                 <h4 class="uni_text">Carbon Edition</h4>
                 <p class="watchs_text">La montre en carbone de Trolex se distingue par son esthétique avant-gardiste et son allure sportive. Le contraste entre le boîtier noir mat et les détails en acier inoxydable crée une harmonie visuelle séduisante. Parfaite pour une utilisation quotidienne ou pour des occasions spéciales, elle ajoute une touche de sophistication à toute tenue.</p>
                 <h4 class="rate_text"><span style="color: #b60213;">$</span>12 000</h4>
                 <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
              </div>
           </div>
        </div>
        <div class="watchs_section_3">
           <div class="row">
              <div class="col-md-6">
                 <h4 class="uni_text">Rick & Morty <span style="font-size: 1rem;">X</span> Trolex</h4>
                 <p class="watchs_text">Plongez dans l'univers déjanté et fascinant de Rick et Morty avec cette montre en or de Trolex, une pièce unique qui combine luxe, innovation et l'esprit irrévérencieux de la célèbre série animée.</p>
                 <h4 class="rate_text"><span style="color: #b60213;">$</span>36 000</h4>
                 <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
              </div>
              <div class="col-md-6 text-center">
                 <div class="image_2"><img style="width: 25rem;" src="assets/img/collabRick_Morty.png"></div>
              </div>
           </div>
        </div>
        <div class="watchs_section_3">
          <div class="row">
             <div class="col-md-6 text-center">
                <div class="image_1"><img src="assets/img/cybertron.png" style="width: 25rem;"></div>
             </div>
             <div class="col-md-6">
                <h4 class="uni_text">CyberTime</h4>
                <p class="watchs_text">Que ce soit pour votre collection personnelle ou comme cadeau unique, les montres CyberTime sont un choix incomparable pour ceux qui aspirent à l'avant-garde de l'horlogerie moderne.</p>
                <h4 class="rate_text"><span style="color: #b60213;">$</span>23 500</h4>
                <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
             </div>
          </div>
       </div>
       <div class="watchs_section_3">
          <div class="row">
             <div class="col-md-6">
                <h4 class="uni_text">Emeraude doré</h4>
                <p class="watchs_text">La montre en émeraude dorée de Trolex est bien plus qu'un accessoire, c'est une déclaration de style et de sophistication. Avec son design remarquable et ses matériaux précieux, elle est destinée à captiver et à impressionner, faisant d'elle un choix parfait pour ceux qui exigent le meilleur en matière d'horlogerie de luxe.</p>
                <h4 class="rate_text"><span style="color: #b60213;">$</span>54 000</h4>
                <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
             </div>
             <div class="col-md-6 text-center">
                <div class="image_2"><img style="width: 25rem;" src="assets/img/meca.png"></div>
             </div>
          </div>
       </div>
       <div class="watchs_section_3">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="image_1"><img src="assets/img/seaEdition.png" style="width: 25rem;"></div>
          </div>
          <div class="col-md-6">
            <h4 class="uni_text">Océan Edition</h4>
            <p class="watchs_text">La montre sur le thème de l'océan est bien plus qu'un accessoire de mode : elle est une invitation à explorer et à apprécier la beauté infinie des océans. Avec son design inspiré et ses performances exceptionnelles, elle est destinée à devenir un compagnon fidèle pour les amateurs d'horlogerie qui cherchent à marier élégance et passion pour la mer.</p>
            <h4 class="rate_text"><span style="color: #b60213;">$</span>18 650</h4>
            <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
          </div>
        </div>
     </div>
     <div class="watchs_section_3">
      <div class="row">
         <div class="col-md-6">
            <h4 class="uni_text">Moderne V12</h4>
            <p class="watchs_text">La montre transparente par Trolex est une merveille d'ingénierie et de design, destinée à ceux qui recherchent un équilibre parfait entre esthétique et fonctionnalité. Avec son boîtier en saphir, son mouvement squeletté et son bracelet en silicone, elle offre une vue panoramique sur le cœur battant de l'horlogerie. C'est une montre qui attire les regards et suscite l'admiration, faisant d'elle un ajout précieux à toute collection de montres de luxe.</p>
            <h4 class="rate_text"><span style="color: #b60213;">$</span>8 000</h4>
            <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
         </div>
         <div class="col-md-6 text-center">
            <div class="image_2"><img style="width: 25rem;" src="assets/img/transparent.png"></div>
         </div>
      </div>
   </div>
   <div class="watchs_section_3">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="image_1"><img src="assets/img/retro1.png" style="width: 25rem;"></div>
      </div>
      <div class="col-md-6">
        <h4 class="uni_text">Rétro Edition</h4>
        <p class="watchs_text">Découvrez l'élégance intemporelle de la montre rétro, une création qui rend hommage au charme des décennies passées tout en intégrant des technologies modernes pour une performance optimale.</p>
        <h4 class="rate_text"><span style="color: #b60213;">$</span>22 550</h4>
        <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
      </div>
    </div>
 </div>
 <div class="watchs_section_3">
  <div class="row">
     <div class="col-md-6">
        <h4 class="uni_text">Casino Royal</h4>
        <p class="watchs_text">Découvrez l'innovation et le glamour avec la montre Casino Royal par Trolex, une pièce unique qui intègre le frisson des jeux de casino dans un design horloger captivant.</p>
        <h4 class="rate_text"><span style="color: #b60213;">$</span>65 000</h4>
        <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
     </div>
     <div class="col-md-6 text-center">
        <div class="image_2"><img style="width: 25rem;" src="assets/img/casino.png"></div>
     </div>
  </div>
</div>
     </div>
  </div>
  <!-- watchs section end -->
