/* testimonial section start */
.testimonial_section{
  width: 100%;
  float: left;
  background-image: url(../../assets/img/testimonial-bg.png);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.testimonial_section_2{
  width: 100%;
  float: left;
  padding-top: 70px;
}
.box_main {
  width: 100%;
  border: 2px solid #fefefe;
  border-radius: 30px;
  padding: 100px 60px;
}
.testimonial_text{
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 0px;
}
.client_main {
  width: 100%;
  float: left;
  padding-top: 40px;
}
.client_left{
  width: 30%;
  float: left;
}
.client_right{
  width: 70%;
  float: left;
}
.client_img{
  width: 100%;
  float: left;
}
.client_name{
  width: 100%;
  float: left;
  font-size: 24px;
  color: #f1f0ef;
  padding-top: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.customer_text{
  width: 100%;
  float: left;
  font-size: 16px;
  color: #950311;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
}

.seemore_bt_1 {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.seemore_bt_1 a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px;
  border-radius: 30px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 90px;
}

.seemore_bt_1 a:hover {
  color: #ffffff;
  background-color: #b60213;
}

.about_section{
  width: 100%;
  float: left;
  padding-bottom: 90px;
}
.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  margin: 0px;
  padding: 70px 0px 20px 0px;
}
.about_section_2 {
  width: 100%;
  float: left;
}
.about_section_3 {
  width: 100%;
  float: left;
  padding-top: 90px;
}
.border_main{
  width: 100%;
  border: 2px solid #fefefe;
  border-radius: 3px;
  padding: 40px 0px;
}
.image_4 {
  width: 100%;
  text-align: center;
  min-height: 140px;
}

.watchs_section{
  width: 100%;
  float: left;
  height: auto;
  background-size: 100%;
  padding-bottom: 90px;
}

.watchs_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #f1f0ef;
  font-weight: bold;
  text-transform: uppercase;
}
h1.watchs_taital::after {
  content: '';
  position: absolute;
  width: 400px;
  background-color: #fff;
  height: 2px;
  left: initial;
  right: 0px;
  bottom: 40px;
}

.watchs_section_2{
  width: 100%;
  float: left;
}
.watchs_section_3{
  width: 100%;
  float: left;
  padding-top: 70px;
}

.watchs_text{
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
 margin: 0px;
 text-align: justify;
}

/* testimonial section end */
