<!-- contact section start -->
<div class="contact_section layout_padding">
  <div class="container">
     <h1 class="watchs_taital">04<br>Nous Contacter</h1>
  </div>
  <div class="contact_section_2">
     <div class="container-fluid">
        <div class="row">
           <div class="col-md-6">
              <div class="mail_section_1">
                 <input type="text" class="mail_text" placeholder="Votre Nom" name="Votre Nom">
                 <input type="text" class="mail_text" placeholder="Votre Numéro" name="Votre Numéro">
                 <input type="text" class="mail_text" placeholder="Votre Email" name="Votre Email">
                 <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                 <div class="send_bt"><a href="#">Envoyer</a></div>
              </div>
           </div>
           <div class="col-md-6 padding_right_0">
              <div class="map_section"><img src="assets/img/map-img.png"></div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- contact section end -->
