/* contact section start */

.about_section{
  width: 100%;
  float: left;
  padding-bottom: 90px;
}
.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  margin: 0px;
  padding: 70px 0px 20px 0px;
}
.about_section_2 {
  width: 100%;
  float: left;
}
.about_section_3 {
  width: 100%;
  float: left;
  padding-top: 90px;
}
.border_main{
  width: 100%;
  border: 2px solid #fefefe;
  border-radius: 3px;
  padding: 40px 0px;
}
.image_4 {
  width: 100%;
  text-align: center;
  min-height: 140px;
}

.watchs_section{
  width: 100%;
  float: left;
  height: auto;
  background-size: 100%;
  padding-bottom: 90px;
}

.watchs_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #f1f0ef;
  font-weight: bold;
  text-transform: uppercase;
}
h1.watchs_taital::after {
  content: '';
  position: absolute;
  width: 400px;
  background-color: #fff;
  height: 2px;
  left: initial;
  right: 0px;
  bottom: 40px;
}

.watchs_section_2{
  width: 100%;
  float: left;
}
.watchs_section_3{
  width: 100%;
  float: left;
  padding-top: 70px;
}

.watchs_text{
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
 margin: 0px;
 text-align: justify;
}

.contact_section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
  /* background-image: url(../../assets/img/contact-bg.png); */
  height: auto;
  background-size: 100%;
}
.contact_taital {
  width: 100%;
  float: left;
  color: #32ca0a;
  font-weight: bold;
  font-size: 46px;
}

.contact_section_2 {
  width: 100%;
  float: left;
}
.mail_section_1 {
  width: 84%;
  float: right;
}
.mail_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #989999;
  border: 0px !important;
  background-color: #ffffff !important;
  padding: 20px 20px 20px 20px;
  margin-top: 30px;
  border-radius: 40px;
}
input.mail_text::placeholder {
  color: #696868;
}
.massage-bt {
  color: #696868;
  width: 100%;
  height: 110px;
  font-size: 18px;
  border: 0px !important;
  background-color: #ffffff !important;
  padding: 40px 20px 20px 20px;
  margin-top: 30px;
  border-radius: 40px;
}
textarea#comment::placeholder {
  color: #696868;
}
.send_bt {
  width: 170px;
  float: left;
  margin-top: 40px;
}
.send_bt a {
  width: 100%;
  float: left;
  background-color: #a40514;
  color: #e1e7d8;
  text-align: center;
  padding: 15px 0px;
  font-size: 16px;
  border-radius: 40px;
  font-weight: bold;
}
.send_bt a:hover {
  background-color: #ffffff;
  color: #696868;
}
.map_section {
  width: 100%;
  float: left;
  padding-top: 70px;
}
.padding_right_0{
  padding-right: 0px;
}
/* contact section end */
