<!-- background bg start -->
<div class="background_bg">
  <!-- watchs section start -->
  <div class="watchs_section layout_padding">
     <div class="container">
        <h1 class="watchs_taital">01<br>Nos Montres</h1>
        <div class="watchs_section_2">
           <div class="row">
              <div class="col-md-6 text-center">
                 <div class="image_1"><img src="assets/img/carbon.png" style="width: 25rem;"></div>
              </div>
              <div class="col-md-6">
                 <h4 class="uni_text">Carbon Edition</h4>
                 <p class="watchs_text">La montre en carbone de Trolex se distingue par son esthétique avant-gardiste et son allure sportive. Le contraste entre le boîtier noir mat et les détails en acier inoxydable crée une harmonie visuelle séduisante. Parfaite pour une utilisation quotidienne ou pour des occasions spéciales, elle ajoute une touche de sophistication à toute tenue.</p>
                 <h4 class="rate_text"><span style="color: #b60213;">$</span>12 000</h4>
                 <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
              </div>
           </div>
        </div>
        <div class="watchs_section_3">
           <div class="row">
              <div class="col-md-6">
                 <h4 class="uni_text">Rick & Morty <span style="font-size: 1rem;">X</span> Trolex</h4>
                 <p class="watchs_text">Plongez dans l'univers déjanté et fascinant de Rick et Morty avec cette montre en or de Trolex, une pièce unique qui combine luxe, innovation et l'esprit irrévérencieux de la célèbre série animée.</p>
                 <h4 class="rate_text"><span style="color: #b60213;">$</span>36 000</h4>
                 <div class="read_bt1"><a routerLink="contact">Prendre RDV</a></div>
              </div>
              <div class="col-md-6 text-center">
                 <div class="image_2"><img style="width: 25rem;" src="assets/img/collabRick_Morty.png"></div>
              </div>
           </div>
        </div>
        <div class="seemore_bt"><a routerLink="catalogue">En Voir Plus</a></div>
     </div>
  </div>
  <!-- watchs section end -->
