<!-- about section start -->
<div class="about_section layout_padding">
  <div class="container">
    <h1 class="watchs_taital">02<br>Qui sommes-nous ?</h1>
    <div class="about_section_2">
      <div class="row">
        <div class="col-md-6">
          <p class="about_text">Trolex est une marque renommée dans le monde de l'horlogerie de luxe, synonyme d'innovation, de qualité exceptionnelle et de design avant-gardiste. Fondée par des passionnés d'horlogerie, Trolex s'est rapidement imposée comme un acteur incontournable dans le secteur, en combinant l'artisanat traditionnel suisse avec des technologies modernes et des matériaux de pointe.</p>
          <div class="read_bt1"><a routerLink="about" class="hide">En Savoir Plus</a></div>
        </div>
        <div class="col-md-6">
          <div class="image_2"><img src="assets/img/meca.png"></div>
        </div>
      </div>
    </div>
    <div class="about_section_3">
      <div class="row">
        <div class="col-md-3">
          <div class="border_main">
            <div class="image_4"><img src="assets/img/carbon.png"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="border_main">
            <div class="image_4"><img src="assets/img/collabRick_Morty.png"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="border_main">
            <div class="image_4"><img src="assets/img/cybertron.png"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="border_main">
            <div class="image_4"><img src="assets/img/seaEdition.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->
