<!-- testimonial section start -->
<div class="testimonial_section layout_padding">
  <div class="container">
     <h1 class="watchs_taital">03<br>Avis Clients</h1>
     <div class="testimonial_section_2">
        <div class="row" style="padding-bottom: 3rem;">
           <div class="col-md-6">
              <div class="box_main">
                 <p class="testimonial_text"><s>Les montres Trolex ne valent absolument pas leur prix exorbitant. La qualité est bien inférieure à ce qui est promis, le service client est inexistant, et la publicité est trompeuse. Je me sens complètement arnaqué par cette marque et je ne la recommande à personne. Si vous cherchez une montre de qualité, tournez-vous vers d'autres marques plus fiables.</s></p>
              </div>
              <div class="client_main">
                 <div class="client_left">
                    <div class="client_img"><img src="assets/img/client-img.png"></div>
                 </div>
                 <div class="client_right">
                    <h6 class="client_name">Cyril Legac</h6>
                    <p class="customer_text"><s>Client banni</s></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="box_main">
                 <p class="testimonial_text">Les montres Trolex offrent une combinaison parfaite de luxe, de précision et d'innovation. La qualité des matériaux, la beauté du design, et l'excellence du service client en font un choix incontournable pour les amateurs de montres de luxe. Je suis extrêmement satisfaite de mon achat et je recommande vivement Trolex à quiconque cherche une montre élégante et fiable. C'est un investissement qui en vaut vraiment la peine.</p>
              </div>
              <div class="client_main">
                 <div class="client_left">
                    <div class="client_img"><img src="assets/img/client-img1.png"></div>
                 </div>
                 <div class="client_right">
                    <h6 class="client_name">Jumini Kiri</h6>
                    <p class="customer_text">Client</p>
                 </div>
              </div>
           </div>
        </div>
        <div class="row" style="padding-bottom: 3rem;">
          <div class="col-md-6">
             <div class="box_main">
                <p class="testimonial_text">Je suis enchantée par ma montre Océan Edition. Elle est non seulement magnifique, mais aussi très pratique. Je l'ai portée pendant mes vacances à la plage et en plongée en apnée, et elle a parfaitement résisté à l'eau salée. Les index luminescents sont super utiles pour lire l'heure la nuit. C'est un achat que je ne regrette pas du tout, et je reçois constamment des compliments à son sujet. Un vrai bijou pour les amoureux de la mer!</p>
             </div>
             <div class="client_main">
                <div class="client_left">
                  <div class="client_img"><img src="assets/img/client-img1.png"></div>
                </div>
                <div class="client_right">
                   <h6 class="client_name">Sophie T.</h6>
                   <p class="customer_text">Client<p>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="box_main">
                <p class="testimonial_text">J'ai récemment acheté une montre, et je suis absolument ravie de mon achat. Le design est à couper le souffle, avec des détails subtils qui capturent parfaitement l'essence de l'océan. Le bracelet en silicone est incroyablement confortable, et j'adore les aiguilles en forme de tridents. Cette montre est devenue ma préférée, non seulement pour son look, mais aussi pour sa fiabilité. Parfaite pour mes sorties en bord de mer!</p>
             </div>
             <div class="client_main">
                <div class="client_left">
                   <div class="client_img"><img src="assets/img/client-img1.png"></div>
                </div>
                <div class="client_right">
                   <h6 class="client_name">Marie D.</h6>
                   <p class="customer_text">Client</p>
                </div>
             </div>
          </div>
       </div>
     </div>
  </div>
</div>
<!-- testimonial section end -->
